<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li (click)="navigateToGmailProfile()"><i class="bx bxl-gmail"></i></li>
    <li (click)="navigateToFacebookProfile()">
      <i class="bx bxl-facebook-circle"></i>
    </li>
    <li (click)="navigateToInstaProfile()"><i class="bx bxl-instagram"></i></li>
    <li (click)="navigateToLinkedInProfile()">
      <i class="bx bxl-linkedin"></i>
    </li>
  </ul>

  <div class="contact-info">
    <li>Mobile: 8788225355</li>
    <li>Email: khadearjun@gmail.com</li>
  </div>
</div>
